<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alzheimer Prediction</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body style="background-color:black; color:white;">
    <h1>Alzheimer Prediction</h1>
    <form id="uploadForm" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="file" name="file" accept="image/*" required />
      <button type="submit">Upload and Predict</button>
    </form>
    {% block content %}

    {% endblock %}
  </body>
</html>
